.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
}

.todoapp {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.todoapp h1 {
  color: rgba(175, 47, 47, 0.15);
  font-weight: 500;
  font-size: 100px;
  margin: 0;
}

.new-todo {
  padding: 16px 16px 16px 16px;
  border: none;
  box-shadow: inset 0 -2px 5px rgb(0 0 0 / 5%);
}

:focus {
  outline: 0;
}

/* MAİN CSS */


/* MAİN CSS */


/* FOOTER CSS */
.info {
  color: #bfbfbf;
  font-size: 10px;
}

.info a {
  color: inherit;
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

/* FOOTER CSS */