html {
  background-color: #1B1A17;
}

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todoapp {
  display: grid;
  justify-items: center;
  margin-top: 50px;
}

.main {
  padding: 25px;
}

.header {
  padding: 25px;
}

.grid-container {
  display: grid;
  align-content: center;
  /* grid-template-columns: 70% auto; */
  grid-template-rows: 50% 50%;
  row-gap: 10px;
  column-gap: 20px;
}

.grid-container>input {
  width: 100%;
  background-color: #242320;
  padding: 5px;
  border: 1px solid #FF8303;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

:focus {
  outline: 0;
}

.grid-container>button {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 100%;
  background-color: #242320;
  color: #FF8303;
  font-size: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #FF8303;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.grid-container>button:hover {
  color: white;
  background-color: #FF8303;
  border: 1px solid white;
}

ul {
  display: grid;
  justify-items: center;
  list-style-type: none;
  padding: 0px;
}

.todo-item {
  display: grid;
  grid-template-columns: 80% auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #242320;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #FF8303;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.todo-item:hover {
  background-color: rgb(24, 24, 24);
}

.todo-item>h2 {
  color: white;
}

.todo-item>p {
  color: white;
}

.todo-item>button {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 100%;
  background-color: #242320;
  color: #FF8303;
  padding: 10px;
  border: 1px solid #FF8303;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.todo-item>button:hover {
  color: white;
  background-color: #FF8303;
  border: 1px solid white;
  transform: rotate(360deg);
  border-radius: 20px;
}

/* DAHA SONRA CSS KISALTILACAK */

.todo-item-completed {
  display: grid;
  grid-template-columns: 80% auto;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #242320;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #FF8303;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: line-through;
  filter: contrast(0.5);
}

.todo-item-completed:hover {
  background-color: rgb(24, 24, 24);
}

.todo-item-completed>h2 {
  color: white;
}

.todo-item-completed>p {
  color: white;
}

.todo-item-completed>button {
  grid-column-start: 2;
  grid-row-start: 1;
  width: 100%;
  background-color: #242320;
  color: #FF8303;
  padding: 10px;
  border: 1px solid #FF8303;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.todo-item-completed>button:hover {
  color: white;
  background-color: #FF8303;
  border: 1px solid white;
  transform: rotate(360deg);
  border-radius: 20px;
}

/* DAHA SONRA CSS KISALTILACAK */

.main-empty>.no-tasks {
  text-align: center;
  font-size: 30px;
  color: white;
}

.main-empty>hr {
  border: 1px solid #FF8303;
}

.show-buttons {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  justify-items: center;
  margin-bottom: 10px;
  opacity: 1;
}

.hide-buttons {
  opacity: 0;
}

.show-buttons>button {
  display: grid;
  justify-content: center;
  background-color: #242320;
  color: #FF8303;
  font-size: large;
  padding: 10px;
  border: 1px solid #FF8303;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.5s;
}

.show-buttons>button:hover {
  color: white;
  background-color: #FF8303;
  border: 1px solid white;
  transform: rotate(360deg);
  border-radius: 20px;
}